{% extends "layout.html" %}
{% block content %}
    <div class="content-section bg-light p-2 mb-5 rounded">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Help us improve CuriousFeed with your sugesstions</legend>
                <div class="form-group">
                    {{ form.feedback.label(class="form-control-label") }}
                    {% if form.feedback.errors %}
                        {{ form.feedback(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.feedback.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.feedback(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group mt-2">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>


{% endblock content %}